{% extends 'base.html.twig' %}

{% block main %}

    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">About</label>
            <input type="text" class="form-control" name="message[about]>
                        <small id="emailHelp" class="form-text text-muted">Fill the subject of your message</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Content:</label>
            <textarea rows="10" class="form-control" name="message[content] placeholder="place your message here"></textarea>
        </div>
        {{ form_row(form._token) }}
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

{% endblock %}

